.header .header__hero .header__intro {
  background: url(../BOSE\ images/Intro.png), lightgray 0px 0px/109.091% 100% no-repeat;
  background-size: cover;
  background-position: center 30%;
  height: 720px;
}
.header .header__hero .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__hero .header__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.header .header__hero .header__nav .nav .tell__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header .header__hero .header__nav .nav .tell__link::before {
  display: none;
  color: #1b2129;
  content: "+1 234 555-55-55";
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header .header__hero .header__nav .nav .tell__link:hover::before {
  display: inline-block;
}

.header__container {
  width: 100%;
  max-width: 1260px;
  padding: 32px 120px;
  margin: 0 auto;
}

.header__title {
  padding-top: 512px;
}
.header__title .bose-title {
  max-width: 411px;
  color: #fff;
  line-height: 100%;
  font-size: 56px;
  font-weight: 700;
}

.footer__content {
  padding: 120px 0;
}
.footer__content .footer__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 111px;
}
.footer__content .footer__hero .footer__title {
  padding-bottom: 56px;
}
.footer__content .footer__hero .footer__title .footer-heading {
  color: #1b2129;
  line-height: 100%;
  font-weight: 700;
  font-size: 48px;
}
.footer__content .footer__hero .footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__content .footer__hero .footer__form .user-name {
  width: 498px;
  height: 48px;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 14px 0 14px 16px;
}
.footer__content .footer__hero .footer__form .user-email {
  width: 498px;
  height: 48px;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 14px 0 14px 16px;
}
.footer__content .footer__hero .footer__form .text-message {
  width: 498px;
  height: 148px;
  resize: none;
  padding: 14px 16px;
  border-radius: 8px;
  background: #f9f9f9;
}
.footer__content .footer__hero .footer__button .send {
  font-size: 16px;
  width: 498px;
  height: 56px;
  padding: 0 48px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 168.75%;
  background: #1b2129;
  border-radius: 8px;
  -webkit-transition: background 0.4s ease-in-out 0s;
  transition: background 0.4s ease-in-out 0s;
}
.footer__content .footer__hero .footer__button .send:hover {
  background: #f98921;
}
.footer__content .footer__hero .footer__nav {
  padding-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer__content .footer__hero .footer__nav .phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__content .footer__hero .footer__nav .phone__item .phone-title {
  color: #9393A3;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-size: 14px;
}
.footer__content .footer__hero .footer__nav .phone__item .phone-number {
  color: #191919;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.footer__content .footer__hero .footer__nav .email__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__content .footer__hero .footer__nav .email__item .email__address {
  color: #191919;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.footer__content .footer__hero .footer__nav .email__item .email-title {
  color: #9393A3;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-size: 14px;
}
.footer__content .footer__hero .footer__nav .address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__content .footer__hero .footer__nav .address__item .address-title {
  color: #9393A3;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-size: 14px;
}
.footer__content .footer__hero .footer__nav .address__item .address {
  color: #191919;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  max-width: 145px;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Manrope", sans-serif !important;
}

.main__container {
  width: 100%;
  max-width: 1260px;
  padding: 0px 120px;
  margin: 0 auto;
}

.recommended {
  padding: 120px 0px;
}

.recommended__content .recommended__title {
  padding-bottom: 56px;
}
.recommended__content .recommended__title .recommended-heading {
  color: #1b2129;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
}
.recommended__content .recommended__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommended__content .recommended__products .recommended__product-card {
  max-width: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.recommended__content .recommended__products .recommended__product-card .recommended-image {
  max-width: 100%;
}
.recommended__content .recommended__products .recommended__product-card .recommended__card-info .recommended__card-title {
  padding-bottom: 8px;
  color: #1b2129;
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
}
.recommended__content .recommended__products .recommended__product-card .recommended__card-info .recommended-subtitle {
  padding-bottom: 12px;
  color: #1b2129;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  max-width: 280px;
}
.recommended__content .recommended__products .recommended__product-card .recommended__card-info .recommended-price {
  color: #1b2129;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}

.sound__vision {
  padding-bottom: 120px;
}

.sound__vision-content .sound__vision-title {
  max-width: 498px;
  padding-bottom: 56px;
}
.sound__vision-content .sound__vision-title .sound-title {
  color: #1b2129;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
}
.sound__vision-content .sound__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
}
.sound__vision-content .sound__products .sound__product-card .product__card-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sound__vision-content .sound__products .sound__product-card .first-card,
.sound__vision-content .sound__products .sound__product-card .second-card {
  max-width: 100%;
  max-height: 100%;
}
.sound__vision-content .sound__products .sound__product-card .sound-heading {
  padding-top: 16px;
  color: #1b2129;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}
.sound__vision-content .sound__button {
  background: #f98921;
  color: #fff;
  padding: 0 48px;
  text-align: center;
  font-weight: 700;
  line-height: 168.75%;
  font-size: 16px;
  width: 324px;
  height: 56px;
  border-radius: 8px;
  -webkit-transition: background 0.3s linear 0.1s;
  transition: background 0.3s linear 0.1s;
}
.sound__vision-content .sound__button:hover {
  background: #1b2129;
}
.sound__vision-content .sound__button:active {
  background: #010810;
}
.sound__vision-content .bottom-heading {
  padding-bottom: 56px;
}

.banner-intro {
  width: 100%;
}
.banner-intro #banner__img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeless {
  background: #fcfaef;
}
.timeless .timeless__content {
  padding: 120px 0 134px 0;
}
.timeless .timeless__content .main__container .timeless__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 111px;
}
.timeless .timeless__content .main__container .timeless__content-block .timeless-title {
  width: 498px;
  color: #1b2129;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}
.timeless .timeless__content .main__container .timeless__content-block .timeless-subtitle {
  width: 411px;
  color: #1b2129;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
}