@import "colors";
@import "variables";

.recommended__content
  .recommended__products
  .recommended__product-card
  .recommended-image {
  transition: all 0.2s linear 0s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    border-radius: 10px;
  }
}

.sound__vision-content .sound__products .sound__product-card .first-card,
.sound__vision-content .sound__products .sound__product-card .second-card {
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;

  &:hover {
    transform: scale(0.85);
  }
}

.logo {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.10);
  }
}
