$primaryBlack: #1b2129;
$primaryWhite: #fff;
$primaryOrange: #f98921;
$primaryGray: #7e7e83;
$naturalBlack: #010810;
$primaryBackground: #fcfaef;
$primaryInput: #f9f9f9;
$primaryTitleColor: #9393A3;
$primaryDarkBlack : #191919;