$titleSize: 56px;
$sectionSize: 48px;
$primarySizeOne: 18px;
$primarySizeTwo: 16px;
$primarySizeThree: 24px;
$primarySizeFour: 14px;

$firstMediaSize: 40px;
$secondMediaSize: 36px;
$thirdMediaSize: 32px;
$fourMediaSize: 10px;

