@import "header";
@import "footer";
@import "mixins";
@import "colors";
@import "reset";
@import "animations";
@import "variables";
@import "media";

body {
  font-family: "Manrope", sans-serif !important;
}

.main__container {
  width: 100%;
  max-width: 1260px;
  padding: 0px 120px;
  margin: 0 auto;
}

.recommended {
  padding: 120px 0px;
}

.recommended__content {
  & .recommended__title {
    padding-bottom: 56px;
    & .recommended-heading {
      color: $primaryBlack;
      font-size: $sectionSize;
      line-height: 100%;
      font-weight: 700;
    }
  }
  & .recommended__products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    & .recommended__product-card {
      max-width: 324px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      & .recommended-image {
        max-width: 100%;
      }

      & .recommended__card-info {
        & .recommended__card-title {
          padding-bottom: 8px;
          color: $primaryBlack;
          font-size: $primarySizeOne;
          line-height: 140%;
          font-weight: 700;
        }
        & .recommended-subtitle {
          padding-bottom: 12px;
          color: $primaryBlack;
          font-size: $primarySizeTwo;
          line-height: 140%;
          letter-spacing: 0.15px;
          max-width: 280px;
        }
        & .recommended-price {
          color: $primaryBlack;
          font-size: $primarySizeTwo;
          line-height: 140%;
          font-weight: 700;
        }
      }
    }
  }
}

.sound__vision {
  padding-bottom: 120px;
}

.sound__vision-content {
  & .sound__vision-title {
    max-width: 498px;
    padding-bottom: 56px;
    & .sound-title {
      color: $primaryBlack;
      font-size: $sectionSize;
      line-height: 100%;
      font-weight: 700;
    }
  }
  & .sound__products {
    display: flex;
    flex-direction: column;
    gap: 56px;
    & .sound__product-card {
      & .product__card-images {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & .first-card,
      .second-card {
        max-width: 100%;
        max-height: 100%;
      }

      & .sound-heading {
        padding-top: 16px;
        color: $primaryBlack;
        font-size: $primarySizeThree;
        line-height: 140%;
        font-weight: 700;
      }
    }
  }
  & .sound__button {
    background: $primaryOrange;
    color: $primaryWhite;
    padding: 0 48px;
    text-align: center;
    font-weight: 700;
    line-height: 168.75%;
    font-size: $primarySizeTwo;
    width: 324px;
    height: 56px;
    border-radius: 8px;
    transition: background 0.3s linear 0.1s;
    &:hover {
      background: $primaryBlack;
    }
    &:active {
      background: $naturalBlack;
    }
  }
  & .bottom-heading {
    padding-bottom: 56px;
  }
}

