@import "variables";
@import "colors";

@media screen and (max-width: 890px) {
  .footer__form-menu {
    width: 100%;
  }
  .recommended__content .recommended__products {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header .header__hero .header__intro {
    height: auto;
  }
  .footer__content .footer__hero {
    flex-direction: column;
    gap: 80px;
  }
  .footer__content .footer__hero .footer__nav {
    padding-top: 0px;
  }
  .timeless .timeless__content .main__container .timeless__content-block {
    align-items: flex-start;
  }
  .sound__vision-content .sound__vision-title .sound-title {
    max-width: 410px;
  }
}

@media screen and (max-width: 774px) {
  .header__title {
    padding-top: 590px;
  }
  .header__container {
    padding: 32px 72px;
  }
  .recommended__content .recommended__title .recommended-heading {
    font-size: $firstMediaSize;
  }
  .main__container {
    padding: 0 72px;
  }
  .footer__content .footer__hero .footer__button .send {
    width: 100%;
  }
  .sound__vision-content .sound__button {
    width: 100%;
  }
  .timeless .timeless__content .main__container .timeless__content-block {
    flex-direction: column;
    align-items: center;
  }
  .timeless
    .timeless__content
    .main__container
    .timeless__content-block
    .timeless-title {
    text-align: center;
  }
  .timeless .timeless__content .main__container .timeless__content-block {
    gap: 75px;
    align-items: flex-start;
  }
  .timeless
    .timeless__content
    .main__container
    .timeless__content-block
    .timeless-title {
    text-align: left;
  }
  .timeless
    .timeless__content
    .main__container
    .timeless__content-block
    .timeless-subtitle {
    max-width: 288px;
  }
  .footer__form-menu {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .header__title .bose-title {
    font-size: $secondMediaSize;
    max-width: 280px;
  }
  .header__container {
    padding: 20px 24px;
  }
  .header .header__hero .header__intro {
    max-height: 568px;
  }
  .header__title {
    padding-top: 384px;
  }
  .logo {
    max-width: 156px;
    max-height: 16px;
  }
  .recommended__content .recommended__title .recommended-heading {
    font-size: $thirdMediaSize;
  }
  .main__container {
    padding: 0 20px;
  }
  .banner-intro #banner__img {
    max-height: 200px;
  }
  .timeless
    .timeless__content
    .main__container
    .timeless__content-block
    .timeless-title {
    font-size: $thirdMediaSize;
  }
  .timeless .timeless__content .main__container .timeless__content-block {
    gap: 24px;
  }
  .timeless .timeless__content {
    padding: 48px 0 48px 0;
  }
  .footer__content .footer__hero .footer__title .footer-heading {
    font-size: $thirdMediaSize;
  }
  .sound__vision-content .sound__products .sound__product-card .sound-heading {
    font-size: $primarySizeOne;
  }
  .sound__vision-content .sound__vision-title .sound-title {
    font-size: $thirdMediaSize;
    max-width: 270px;
  }
  .bose-logo {
    max-width: 152px;
    max-height: 16px;
  }
  .tell__link {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    &::after {
      display: none;
      color: $primaryBlack;
      content: "+1 234 555-55-55";
      font-weight: 700;
      font-size: $fourMediaSize;
      line-height: 133.333%;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &:hover::before {
      display: inline-block;
    }
  }
}
